*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    min-height: 100%;
}

body {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    background: lighten(lightgrey, 15%);
    &:focus:not(:focus-visible) { outline: none }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}
