.player {
    display: grid;
    grid-template-columns: 1fr auto;
    &:not(:first-child){
        margin-top: 15px;
    }
    &__title {
        padding: 4px;
        border-bottom: 1px dashed #000;
        text-decoration: none;
        display: inline-block;
        .player:nth-child(odd) &{
            background: lighten($color-warning, 40%);
        }
    }
    &.player-edit {
        grid-template-columns: 30px 1fr;
        align-items: center;
    }
    &__content {
        display: flex;
        align-items: center;
    }
}