/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  background: #f9f9f9; }
  body:focus:not(:focus-visible) {
    outline: none; }

::selection {
  background-color: #F1F1F1;
  color: #fff; }

li {
  list-style-type: none; }

.hidden {
  display: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: bold; }

.heading-secondary {
  font-size: 3rem; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 100;
  font-style: italic; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-medium {
  margin-top: 2rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-global-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0); }

.u-pos-abs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.u-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 0px 1px; }

.btn {
  background-color: #EE161F;
  border: 2px solid #EE161F;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.2;
  transition: all .3s;
  outline: none;
  color: #fff;
  padding: 8px; }
  .btn.active {
    background-color: #fff;
    border: 2px solid #EE161F; }
  .btn:hover {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-svg {
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: .4rem; }

.btn-delete.btn-svg {
  background: none;
  padding: 0; }

.btn-add-player {
  display: none;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px; }

.btn-validate-edit {
  margin-left: 5px;
  margin-right: 5px; }

.btn-end-turn {
  display: flex;
  align-items: center; }

.btn-start {
  display: none; }

.btn-start-content {
  display: flex;
  justify-content: center; }

.btn-add-score {
  margin-left: 10px; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #EE161F;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.icon {
  fill: #fff;
  height: 30px;
  width: 30px; }

.edit-input {
  padding: 10px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  border: 2px solid #404b69;
  border-radius: 0;
  background: #d9dde8;
  box-shadow: 0 3px 0rem rgba(0, 0, 0, 0.15);
  appearance: none; }
  .edit-input:focus {
    outline: 0;
    background: white; }
  .edit-input--score {
    width: 40px;
    height: 40px;
    margin: 0;
    box-shadow: none;
    padding: 5px; }

.edit-field {
  display: flex;
  align-items: center; }

.form-container {
  background: #fefefe;
  border-radius: 4px;
  position: fixed;
  max-width: 750px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  height: 80vh;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .form-container__inner {
    overflow-y: auto;
    height: 100%;
    padding: 10px; }
  .form-container__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.player {
  display: grid;
  grid-template-columns: 1fr auto; }
  .player:not(:first-child) {
    margin-top: 15px; }
  .player__title {
    padding: 4px;
    border-bottom: 1px dashed #000;
    text-decoration: none;
    display: inline-block; }
    .player:nth-child(odd) .player__title {
      background: #fcd4d6; }
  .player.player-edit {
    grid-template-columns: 30px 1fr;
    align-items: center; }
  .player__content {
    display: flex;
    align-items: center; }

.score {
  display: none;
  position: relative;
  align-items: center; }
  .score__error {
    display: none;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    white-space: nowrap;
    background: #EE161F;
    color: #fff;
    padding: 5px;
    border-radius: 4px; }

.score-all {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr auto;
  background: #F8DB22;
  margin-top: 10px; }
  .player-edit .score-all {
    display: none; }
  .score-all__list {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #fff;
    font-weight: 600; }
  .score-all__item {
    font-size: 1.5rem; }
  .score-all__item:not(:first-child) {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid #fff; }
  .score-all__item:first-child {
    padding-right: 5px; }
  .score-all__item:last-child {
    padding-right: 0px; }
  .score-all__total {
    font-size: 2rem;
    padding: 5px;
    background: #EE161F;
    color: #fff; }

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.container {
  padding: 2rem;
  margin: 0 auto; }
  .container-start {
    display: flex;
    align-items: center;
    justify-content: center; }
  .container-heading {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #F8DB22; }
  .container-end-turn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px; }
