// COLORS
$color-primary: #F1F1F1;
$color-secondary: #494753;

$color-menu-1: #8cd790; //salad
$color-menu-2: #f68657; //soupes
$color-menu-3: #8c9184; //tartes
$color-menu-4: #ffbbd6; //viandes
$color-menu-5: #1ce; //poissons
$color-menu-6: #ffda8e; //pates

$color-btn: #FDB44B;

$color-white: #fff;
$color-black: #000;

$color-warning: #f73859;
$color-validation: #70d4b4;
$color-modification: #ffb677;

$color-dark-1: #404b69;
$color-dark-2: #494b67;
$color-dark-3: #3fc1c9;

$color-light-1: #e7e7de;
$color-light-2: #c1c0b9;
$color-light-3: #fefefe;

$color-github: #6cc644;
$color-google: #bd2c00;
$color-facebook: #4078c0;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
